# See frontend/.env.example and backend/.env.example

SUPABASE_URL=https://vgagqjqseptsmoodmkwc.supabase.co

SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZnYWdxanFzZXB0c21vb2Rta3djIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTE0OTg1MDMsImV4cCI6MjEwNzA3NDUwM30.e0klqhPfY1fw4ThJprmn0-oGoiUVWgP7H7AC2iKy7V0

SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZnYWdxanFzZXB0c21vb2Rta3djIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MTQ5ODUwMywiZXhwIjoyMTA3MDc0NTAzfQ.Hl3Bg2smIJZyGMA6xzEFh99KRlgFPAiZDhJxmq2uxdw

DATABASE_URL=postgresql://postgres:YchSzfALIDkN0JWv@db.vgagqjqseptsmoodmkwc.supabase.co:5432/postgres
